<section class="wrapper">
    <app-navigation (navigationVisibility)="onNavigationOpenedChange($event)"></app-navigation>

    <div class="container" [style.marginLeft]="isNavigationOpened ? '320px' : '80px'">
        <div class="requests flex-column">
            <header class="header flex-row">
                <div class="header-title flex-row">
                    <p class="header-title__value">Заявки на активацию</p>
                </div>

                <div class="header-controllers flex-row"></div>
            </header>
        </div>
    </div>
</section>