<section class="wrapper">
    <div class="container flex-center-center">
        <div class="recovery flex-column">
            <h1 class="recovery-title">Обратитесь к администратору</h1>

            <p class="recovery-caption">Подойдите к администратору и укажите своё ФИО для восстановления данных.<br>Как только администратор напомнит ваши данные, вы сможете пользоваться функционалом электронного дневника.</p>

            <button type="button" class="recovery-button" [routerLink]="'/overview'">
                <span>Вернуться на главную</span>
            </button>
        </div>
    </div>
</section>