<section class="wrapper">
    <app-loader *ngIf="isDataLoading" class="loader"></app-loader>

    <app-navigation (navigationVisibility)="onNavigationOpenedChange($event)"></app-navigation>

    <div class="container" [style.marginLeft]="isNavigationOpened ? '320px' : '80px'">
        <div class="groups flex-column">
            <header class="header flex-row">
                <div class="header-title flex-row">
                    <p class="header-title__value">Группы</p>
                </div>

                <div class="header-controllers flex-row">
                    <app-button [elementID]="'button-create'" [elementName]="'button-create'" [elementLabel]="'Добавить группу'" [elementDisable]="false" (click)="toggleAddingGroupDialogVisible()"></app-button>
                </div>
            </header>

            <div class="table-wrapper flex-column">
                <p-table [columns]="tableColumns" [value]="groupsData ?? []" styleClass="p-datatable-gridlines" [scrollable]="true" [resizableColumns]="true" [scrollHeight]="tableScrollHeight.toString() + 'px'">
                    <ng-template pTemplate="header" let-columns>
                        <tr>
                            <th *ngFor="let col of columns" pResizableColumn [style.width]="'13%'">
                                <div class="table-label">
                                    <p class="table-label__value">{{ col.label }}</p>
                                </div>
                            </th>

                            <th pResizableColumn [style.width]="'9%'">
                                <div class="table-label">
                                    <p class="table-label__value">Действие</p>
                                </div>
                            </th>
                        </tr>
                    </ng-template>

                    <ng-template pTemplate="body" let-groups>
                        <tr>
                            <td *ngFor="let column of tableColumns">
                                <div class="table-body">
                                    <p class="table-body__value">{{ groups[column.field] ?? '—' }}</p>
                                </div>
                            </td>

                            <td>
                                <div class="table-body flex-row">
                                    <button type="button" class="table-body__button flex-center-center" (click)="toggleEditingGroupDialogVisible(groups)">
                                        <span class="material-icons button-edit">edit</span>
                                    </button>

                                    <button type="button" class="table-body__button flex-center-center" (click)="toggleEditingScheduleDialogVisible(groups.id)">
                                        <span class="material-icons button-edit">schedule</span>
                                    </button>

                                    <button type="button" class="table-body__button flex-center-center" (click)="toggleConfirmDialogVisible(groups.id)">
                                        <span class="material-icons button-delete">delete</span>
                                    </button>
                                </div>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>
    </div>
</section>

<!-- Добавление группы -->
<p-dialog [header]="'Добавление группы'" [(visible)]="isAddingGroupDialogVisible" [modal]="true" [style]="{ width: '400px' }" [draggable]="false" [resizable]="false">
    <div class="dialog-wrapper flex-column">

        <app-text-field [elementID]="'dialog-name'" [elementName]="'dialog-name'" [elementLabel]="'Наименование'" [elementValue]="dialogGroupName" [elementDisable]="isDataLoading" (elementValueChange)="dialogGroupName = $event"></app-text-field>

        <app-text-field [elementID]="'dialog-short-name'" [elementName]="'dialog-short-name'" [elementLabel]="'Сокращение'" [elementValue]="dialogGroupShortName" [elementDisable]="isDataLoading" (elementValueChange)="dialogGroupShortName = $event"></app-text-field>
        
        <app-text-field [elementID]="'dialog-number'" [elementName]="'dialog-number'" [elementLabel]="'Номер группы'" [elementValue]="dialogGroupNumber" [elementDisable]="isDataLoading" (elementValueChange)="dialogGroupNumber = $event"></app-text-field>

        <app-text-field [elementID]="'dialog-course'" [elementName]="'dialog-course'" [elementLabel]="'Курс'" [elementValue]="dialogGroupCourse" [elementDisable]="isDataLoading" (elementValueChange)="dialogGroupCourse = $event"></app-text-field>

        <app-text-field [elementID]="'dialog-code'" [elementName]="'dialog-code'" [elementLabel]="'Кодировка'" [elementValue]="dialogGroupCode" [elementDisable]="true" (elementValueChange)="dialogGroupCode = $event"></app-text-field>

        <div class="dialog-message flex-row">
            <span class="dialog-message__value">{{ dialogErrorMessage }}</span>
        </div>

        <app-button [elementID]="'button-add'" [elementName]="'button-add'" [elementLabel]="'Добавить'" [elementDisable]="isDataLoading" (click)="addGroup()"></app-button>
    </div>
</p-dialog>

<!-- Редактирование группы -->
<p-dialog [header]="'Редактирование группы'" [(visible)]="isEditingGroupDialogVisible" [modal]="true" [style]="{ width: '400px' }" [draggable]="false" [resizable]="false">
    <div class="dialog-wrapper flex-column">

        <app-text-field [elementID]="'dialog-name'" [elementName]="'dialog-name'" [elementLabel]="'Наименование'" [elementValue]="dialogEditGroupName" [elementDisable]="isDataLoading" (elementValueChange)="dialogEditGroupName = $event"></app-text-field>

        <app-text-field [elementID]="'dialog-short-name'" [elementName]="'dialog-short-name'" [elementLabel]="'Сокращение'" [elementValue]="dialogEditGroupShortName" [elementDisable]="isDataLoading" (elementValueChange)="dialogEditGroupShortName = $event"></app-text-field>
        
        <app-text-field [elementID]="'dialog-number'" [elementName]="'dialog-number'" [elementLabel]="'Номер группы'" [elementValue]="dialogEditGroupNumber" [elementDisable]="isDataLoading" (elementValueChange)="dialogEditGroupNumber = $event"></app-text-field>

        <app-text-field [elementID]="'dialog-course'" [elementName]="'dialog-course'" [elementLabel]="'Курс'" [elementValue]="dialogEditGroupCourse" [elementDisable]="isDataLoading" (elementValueChange)="dialogEditGroupCourse = $event"></app-text-field>

        <div class="dialog-message flex-row">
            <span class="dialog-message__value">{{ dialogEditErrorMessage }}</span>
        </div>

        <app-button [elementID]="'button-edit'" [elementName]="'button-edit'" [elementLabel]="'Редактировать'" [elementDisable]="isDataLoading" (click)="editGroup()"></app-button>
    </div>
</p-dialog>

<!-- Редактирование расписания группы -->
<p-dialog [header]="'Редактирование расписания группы'" class="flex-column" [(visible)]="isEditingScheduleDialogVisible" [modal]="true" [style]="{ width: '1300px' }" [draggable]="false" [resizable]="false">
    <div class="schedule-wrapper flex-row">
        <div class="schedule-item flex-column" *ngFor="let day of groupSchedule.data">
            <div class="schedule-item__title flex-center-center">
                <p>{{ day.dayOfWeek }}</p>
            </div>

            <div class="schedule-item__data flex-column">
                <div class="data-item flex-row" *ngFor="let subject of day.schedule; index as i">
                    <div class="data-item__number flex-center-center">
                        <p>{{ day.schedule[i].number }}</p>
                    </div>

                    <div class="data-item__lecturer flex-row">
                        <app-dropdown [elementID]="'lecturer'" [elementName]="'lecturer'" [elementPlaceholder]="'Преподаватель'" [(elementValue)]="day.schedule[i].teacherName" [elementDisable]="!isEditingSchedule" [options]="avaliableLecturers ?? []" [optionsLabel]="'name'" [optionsValue]="'name'" [clearOption]="true" [filter]="true"></app-dropdown>
                    </div>

                    <div class="data-item__name flex-row">
                        <app-dropdown [elementID]="'subject'" [elementName]="'subject'" [elementPlaceholder]="'Предмет'" [(elementValue)]="day.schedule[i].subjectName" [elementDisable]="!isEditingSchedule" [options]="avaliableSubjects ?? []" [optionsLabel]="'name'" [optionsValue]="'name'" [clearOption]="true" [filter]="true"></app-dropdown>
                    </div>

                    <div class="data-item__cabinet flex-center-center">
                        <app-text-field *ngIf="day.schedule[i]" [elementID]="'schedule-cabinet'" [elementName]="'schedule-cabinet'" [elementPlaceholder]="'Каб.'" [elementValue]="day.schedule[i].cabinet" [elementDisable]="!isEditingSchedule" (elementValueChange)="day.schedule[i].cabinet = $event"></app-text-field>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="schedule-controller flex-row">
        <app-button [elementID]="'button-edit'" [elementName]="'button-edit'" [elementLabel]="'Редактировать'" [elementDisable]="isEditingSchedule" (click)="toggleEditingShedule()"></app-button>

        <app-button [elementID]="'button-save'" [elementName]="'button-save'" [elementLabel]="'Сохранить'" [elementDisable]="!isEditingSchedule" (click)="saveSchedule()"></app-button>
    </div>
</p-dialog>

<app-confirm-dialog [visibleController]="isConfirmDialogVisible" (next)="handleConfirmDialogNext()" (cancel)="handleConfirmDialogCancel()" ></app-confirm-dialog>