<section class="wrapper">
    <app-navigation (navigationVisibility)="onNavigationOpenedChange($event)"></app-navigation>

    <div class="container" [style.marginLeft]="isNavigationOpened ? '320px' : '80px'">
        <div class="groups flex-column">
            <header class="header flex-row">
                <div class="header-title flex-row">
                    <p class="header-title__value">Группы</p>
                </div>

                <div class="header-controllers flex-row">
                    <app-button [elementID]="'button-create'" [elementName]="'button-create'" [elementLabel]="'Добавить группу'" [elementDisable]="false" (click)="toggleAddingGroupDialogVisible()"></app-button>
                </div>
            </header>

            <div class="table-wrapper flex-column">
                <p-table [columns]="tableColumns" [value]="groupsMocks" styleClass="p-datatable-gridlines" [scrollable]="true" [resizableColumns]="true" [scrollHeight]="tableScrollHeight.toString() + 'px'">
                    <ng-template pTemplate="header" let-columns>
                        <tr>
                            <th *ngFor="let col of columns" pResizableColumn [style.width]="'13%'">
                                <div class="table-label">
                                    <p class="table-label__value">{{ col.label }}</p>
                                </div>
                            </th>

                            <th pResizableColumn [style.width]="'9%'">
                                <div class="table-label">
                                    <p class="table-label__value">Действие</p>
                                </div>
                            </th>
                        </tr>
                    </ng-template>

                    <ng-template pTemplate="body" let-groups>
                        <tr>
                            <td *ngFor="let column of tableColumns">
                                <div class="table-body">
                                    <p class="table-body__value">{{ groups[column.field] ?? '—' }}</p>
                                </div>
                            </td>

                            <td>
                                <div class="table-body flex-row">
                                    <button type="button" class="table-body__button flex-center-center" (click)="toggleEditingGroupDialogVisible(groups)">
                                        <span class="material-icons button-edit">edit</span>
                                    </button>

                                    <button type="button" class="table-body__button flex-center-center" (click)="toggleEditingScheduleDialogVisible()">
                                        <span class="material-icons button-edit">schedule</span>
                                    </button>

                                    <button type="button" class="table-body__button flex-center-center" (click)="toggleConfirmDialogVisible()">
                                        <span class="material-icons button-delete">delete</span>
                                    </button>
                                </div>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>
    </div>
</section>

<!-- Добавление группы -->
<p-dialog [header]="'Добавление группы'" [(visible)]="isAddingGroupDialogVisible" [modal]="true" [style]="{ width: '400px' }" [draggable]="false" [resizable]="false">
    <div class="dialog-wrapper flex-column">

        <app-text-field [elementID]="'dialog-name'" [elementName]="'dialog-name'" [elementLabel]="'Наименование'" [elementValue]="dialogGroupName" [elementDisable]="false"></app-text-field>

        <app-text-field [elementID]="'dialog-short-name'" [elementName]="'dialog-short-name'" [elementLabel]="'Сокращение'" [elementValue]="dialogGroupShortName" [elementDisable]="false"></app-text-field>
        
        <app-text-field [elementID]="'dialog-number'" [elementName]="'dialog-number'" [elementLabel]="'Номер группы'" [elementValue]="dialogGroupNumber" [elementDisable]="false"></app-text-field>

        <app-text-field [elementID]="'dialog-course'" [elementName]="'dialog-course'" [elementLabel]="'Курс'" [elementValue]="dialogGroupCourse" [elementDisable]="false"></app-text-field>

        <app-text-field [elementID]="'dialog-code'" [elementName]="'dialog-code'" [elementLabel]="'Кодировка'" [elementValue]="dialogGroupCode" [elementDisable]="true"></app-text-field>

        <div class="dialog-message flex-row">
            <span class="dialog-message__value">{{ dialogErrorMessage }}</span>
        </div>

        <app-button [elementID]="'button-add'" [elementName]="'button-add'" [elementLabel]="'Добавить'" [elementDisable]="false"></app-button>
    </div>
</p-dialog>

<!-- Редактирование группы -->
<p-dialog [header]="'Редактирование группы'" [(visible)]="isEditingGroupDialogVisible" [modal]="true" [style]="{ width: '400px' }" [draggable]="false" [resizable]="false">
    <div class="dialog-wrapper flex-column">

        <app-text-field [elementID]="'dialog-name'" [elementName]="'dialog-name'" [elementLabel]="'Наименование'" [elementValue]="dialogEditGroupName" [elementDisable]="false"></app-text-field>

        <app-text-field [elementID]="'dialog-short-name'" [elementName]="'dialog-short-name'" [elementLabel]="'Сокращение'" [elementValue]="dialogEditGroupShortName" [elementDisable]="false"></app-text-field>
        
        <app-text-field [elementID]="'dialog-number'" [elementName]="'dialog-number'" [elementLabel]="'Номер группы'" [elementValue]="dialogEditGroupNumber" [elementDisable]="false"></app-text-field>

        <app-text-field [elementID]="'dialog-course'" [elementName]="'dialog-course'" [elementLabel]="'Курс'" [elementValue]="dialogEditGroupCourse" [elementDisable]="false"></app-text-field>

        <div class="dialog-message flex-row">
            <span class="dialog-message__value">{{ dialogEditErrorMessage }}</span>
        </div>

        <app-button [elementID]="'button-edit'" [elementName]="'button-edit'" [elementLabel]="'Редактировать'" [elementDisable]="false"></app-button>
    </div>
</p-dialog>

<!-- Редактирование расписания группы -->
<p-dialog [header]="'Редактирование расписания группы'" [(visible)]="isEditingScheduleDialogVisible" [modal]="true" [style]="{ width: '80vw' }" [draggable]="false" [resizable]="false">
    <div class="schedule-wrapper flex-center-center">
        <div class="schedule-item flex-column" *ngFor="let item of groupSchedule">
            <div class="schedule-item__title flex-center-center">
                <p>{{ item.name }}</p>
            </div>

            <div class="schedule-item__data flex-column">
                <div class="data-item flex-row">
                    <div class="data-item__number flex-center-center">
                        <p>1</p>
                    </div>

                    <div class="data-item__name flex-row">
                        <p *ngIf="item.data[0]">{{ item.data[0].name }}</p>
                    </div>

                    <div class="data-item__cabinet flex-center-center">
                        <p *ngIf="item.data[0]">{{ item.data[0].cabinet }}</p>
                    </div>
                </div>

                <div class="data-item flex-row">
                    <div class="data-item__number flex-center-center">
                        <p>2</p>
                    </div>

                    <div class="data-item__name flex-row">
                        <p *ngIf="item.data[1]">{{ item.data[1].name }}</p>
                    </div>

                    <div class="data-item__cabinet flex-center-center">
                        <p *ngIf="item.data[1]">{{ item.data[1].cabinet }}</p>
                    </div>
                </div>

                <div class="data-item flex-row">
                    <div class="data-item__number flex-center-center">
                        <p>3</p>
                    </div>

                    <div class="data-item__name flex-row">
                        <p *ngIf="item.data[2]">{{ item.data[2].name }}</p>
                    </div>

                    <div class="data-item__cabinet flex-center-center">
                        <p *ngIf="item.data[2]">{{ item.data[2].cabinet }}</p>
                    </div>
                </div>

                <div class="data-item flex-row">
                    <div class="data-item__number flex-center-center">
                        <p>4</p>
                    </div>

                    <div class="data-item__name flex-row">
                        <p *ngIf="item.data[3]">{{ item.data[3].name }}</p>
                    </div>

                    <div class="data-item__cabinet flex-center-center">
                        <p *ngIf="item.data[3]">{{ item.data[3].cabinet }}</p>
                    </div>
                </div>

                <div class="data-item flex-row">
                    <div class="data-item__number flex-center-center">
                        <p>5</p>
                    </div>

                    <div class="data-item__name flex-row">
                        <p *ngIf="item.data[4]">{{ item.data[4].name }}</p>
                    </div>

                    <div class="data-item__cabinet flex-center-center">
                        <p *ngIf="item.data[4]">{{ item.data[4].cabinet }}</p>
                    </div>
                </div>

                <div class="data-item flex-row">
                    <div class="data-item__number flex-center-center">
                        <p>6</p>
                    </div>

                    <div class="data-item__name flex-row">
                        <p *ngIf="item.data[5]">{{ item.data[5].name }}</p>
                    </div>

                    <div class="data-item__cabinet flex-center-center">
                        <p *ngIf="item.data[5]">{{ item.data[5].cabinet }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</p-dialog>

<app-confirm-dialog [visibleController]="isConfirmDialogVisible" (next)="handleConfirmDialogNext()" (cancel)="handleConfirmDialogCancel()" ></app-confirm-dialog>