<section class="wrapper">
    <header id="overview" class="header flex-row">
        <div class="header-brand">
            <p>Дневникадо</p>
        </div>

        <nav class="navigation flex-row">
            <div class="navigation-list flex-row">
                <a class="navigation-item flex-center-center" href="#overview">
                    <span>Главная</span>
                </a>

                <a class="navigation-item flex-center-center" href="#about">
                    <span>О нас</span>
                </a>

                <a class="navigation-item flex-center-center" href="#features">
                    <span>Возможности</span>
                </a>

                <a class="navigation-item flex-center-center" (click)="navigateToSchedule()">
                    <span>Расписание</span>
                </a>

                <a class="navigation-item flex-center-center" href="#contacts">
                    <span>Контакты</span>
                </a>
            </div>
        </nav>

        <div class="header-account flex-row">
            <div class="header-wrapper">
                <app-button [elementID]="'signin'" [elementName]="'signin'" [elementLabel]="'Войти'" [elementDisable]="false" (click)="navigateToAuthorization()"></app-button>
            </div>
        </div>

        <div class="header-toggle">
            <button type="button" class="header-toggle__button flex-center-center">
                <span class="material-icons">menu</span>
            </button>
        </div>
    </header>

    <div class="banner flex-row">
        <div class="banner-information flex-column">
            <div class="banner-information__title">
                <p>Дневникадо</p>
            </div>

            <div class="banner-information__caption">
                <p>Это современное веб-приложение, предназначенное для управления учебными данными и процессами в колледже. Наше приложение предоставляет студентам, преподавателям и администраторам эффективный и удобный способ ведения учета успеваемости, расписания занятий, заданий и других важных аспектов учебного процесса.</p>
            </div>

            <div class="banner-information__button">
                <app-button [elementID]="'try-it'" [elementName]="'try-it'" [elementLabel]="'Попробовать'" [elementDisable]="false" (click)="navigateToAuthorization()"></app-button>
            </div>
        </div>

        <div class="banner-image flex-row">
            <img src="../../../../assets/images/photos/happy-man.png" alt="Banner image">
        </div>
    </div>

    <div id="about" class="section about flex-column">
        <div class="section-title flex-row">
            <p>О нас</p>
        </div>

        <div class="section-container about-container flex-row">
            <div class="about-image">
                <img src="../../../../assets/images/photos/lovely-man.png" alt="About image">
            </div>

            <div class="about-information flex-column">
                <p>Данный проект разработан специально для ГПОАУ ЯО Заволжский политехнический колледжа — колледжа, который ценит инновации и стремится к постоянному совершенствованию учебного процесса. Своими усилиями мы поддерживаем и расширяем его миссию, создавая современные инструменты для образования будущего.</p>

                <p>Наше приложение представляет собой не просто инструмент для ведения учета успеваемости, расписания занятий и заданий, но и целую платформу, объединяющую студентов, преподавателей и администраторов в единую образовательную среду.</p>

                <p>Наши усилия направлены на то, чтобы сделать учебный процесс более доступным, удобным и эффективным для всех его участников. Мы верим, что образование — это ключ к будущему, и стремимся сделать его получение максимально комфортным и эффективным для каждого студента.</p>
            </div>
        </div>
    </div>

    <div id="features" class="section features flex-column">
        <div class="section-title flex-row">
            <p>Возможности</p>
        </div>

        <div class="section-container features-container flex-row">
            <div class="features-wrapper flex-row">
                <div class="features-item flex-column" (click)="navigateToAuthorization()">
                    <div class="features-item__title flex-row">
                        <p>Учет успеваемости</p>
                    </div>

                    <div class="features-item__image flex-row">
                        <img src="../../../../assets/images/photos/features-1.png" alt="Features image">
                    </div>

                    <div class="features-item__caption flex-row">
                        <p>Студенты могут легко отслеживать свои академические достижения, просматривать оценки по предметам, а также получать обратную связь от преподавателей.</p>
                    </div>
                </div>

                <div class="features-item flex-column" (click)="navigateToAuthorization()">
                    <div class="features-item__title flex-row">
                        <p>Расписание занятий</p>
                    </div>

                    <div class="features-item__image flex-row">
                        <img src="../../../../assets/images/photos/features-2.png" alt="Features image">
                    </div>

                    <div class="features-item__caption flex-row">
                        <p>Платформа предоставляет актуальное расписание занятий, включая лекции, семинары и практические занятия, что помогает студентам планировать свое время.</p>
                    </div>
                </div>

                <div class="features-item flex-column" (click)="navigateToAuthorization()">
                    <div class="features-item__title flex-row">
                        <p>Задания и домашние работы</p>
                    </div>

                    <div class="features-item__image flex-row">
                        <img src="../../../../assets/images/photos/features-3.png" alt="Features image">
                    </div>

                    <div class="features-item__caption flex-row">
                        <p>Студенты могут получать доступ к заданиям и домашним работам онлайн, сдавать их через платформу, получать обратную связь и отслеживать свой прогресс.</p>
                    </div>
                </div>

                <div class="features-item flex-column" (click)="navigateToAuthorization()">
                    <div class="features-item__title flex-row">
                        <p>Администрирование и контроль</p>
                    </div>

                    <div class="features-item__image flex-row">
                        <img src="../../../../assets/images/photos/features-4.png" alt="Features image">
                    </div>

                    <div class="features-item__caption flex-row">
                        <p>Администраторы имеют полный доступ ко всем данным, связанным с преподавателями и студентами. Они могут создавать новые предметы, назначать преподавателей и т.д. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="contacts" class="section contacts flex-column">
        <div class="section-title flex-row">
            <p>Контакты</p>
        </div>

        <div class="section-container contacts-container flex-row">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d32690.841113589846!2d39.94774978002118!3d57.6024062106607!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b29692360c9fd7%3A0x79a76760b7b19ad4!2z0JrQu9GD0LHQvdCw0Y8g0YPQuy4sIDMz0JAsINCv0YDQvtGB0LvQsNCy0LvRjCwg0K_RgNC-0YHQu9Cw0LLRgdC60LDRjyDQvtCx0LsuLCAxNTAwMDg!5e0!3m2!1sru!2sru!4v1715536484858!5m2!1sru!2sru" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>

    <footer class="footer flex-column">
        <address class="footer-information flex-row">
            <div class="footer-information__item flex-column">
                <p class="footer-information__title">Наш адрес:</p>
                <p class="footer-information__value">150008, обл. Ярославская, г. Ярославль, Клубная 33А</p>
            </div>

            <div class="footer-information__item flex-column">
                <p class="footer-information__title">Телефон:</p>
                <p class="footer-information__value">+7 (485) 271-46-49</p>
            </div>

            <div class="footer-information__item flex-column">
                <p class="footer-information__title">Электронная почта:</p>
                <p class="footer-information__value">{{ 'zavpk.yaroslavl@yarregion.ru' }}</p>
            </div>

            <div class="footer-information__item flex-column">
                <p class="footer-information__title">Госпаблик:</p>
                <p class="footer-information__value">https://vk.com/zpk_public</p>
            </div>
        </address>

        <div class="footer-copyright flex-column">
            <p>© ГПОАУ ЯО Заволжский политехнический колледж, 2015 – 2024</p>

            <p>Работает на CMS2.edu при поддержке © ГУ ЯО "Центр телекоммуникаций и информационных систем в образовании"</p>
        </div>
    </footer>
</section>