<div class="component">
    <input class="textfield-input" type="text" autocomplete="off"
        [id]="elementID"
        [name]="elementName ?? ''"
        [placeholder]="elementPlaceholder ?? ''"
        [value]="elementValue"
        [required]="elementRequired ?? false"
        [readOnly]="elementReadonly"
        [disabled]="elementDisable ?? false"
        [style.height]="config?.height ?? ''"
        [style.backgroundColor]="config?.backgroundColor ?? ''"
        [style.borderColor]="config?.borderColor ?? ''"
        [style.color]="config?.color ?? ''"
        [(ngModel)]="elementValue"
        (ngModelChange)="elementValueChange.emit($event)"
        >

    <label *ngIf="elementLabel" [for]="elementID" class="textfield-label">{{ elementLabel }}</label>
</div>