<section class="wrapper">
    <div class="container flex-center-center">
        <div class="waiting flex-column">
            <h1 class="waiting-title">Ожидайте</h1>

            <p class="waiting-caption">Ваша заявка находится на рассмотрение у администратора.<br>Как только заявка будет принята, вы сможете пользоваться функционалом электронного дневника.</p>

            <button type="button" class="waiting-button" [routerLink]="'/overview'">
                <span>Вернуться на главную</span>
            </button>
        </div>
    </div>
</section>