// Imports
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import 'material-icons/iconfont/material-icons.css';
@import './variables.scss';

// Global
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

body {
    background-color: $colorGrey7;
}

// Fonts

@font-face {
    font-family: 'Montserrat';
    src: url('../assets/fonts/Montserrat/Montserrat-Thin.ttf') format('truetype');
    font-weight: 100;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../assets/fonts/Montserrat/Montserrat-ExtraLight.ttf') format('truetype');
    font-weight: 200;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../assets/fonts/Montserrat/Montserrat-Light.ttf') format('truetype');
    font-weight: 300;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../assets/fonts/Montserrat/Montserrat-Regular.ttf') format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../assets/fonts/Montserrat/Montserrat-Medium.ttf') format('truetype');
    font-weight: 500;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../assets/fonts/Montserrat/Montserrat-SemiBold.ttf') format('truetype');
    font-weight: 600;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../assets/fonts/Montserrat/Montserrat-Bold.ttf') format('truetype');
    font-weight: 700;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../assets/fonts/Montserrat/Montserrat-ExtraBold.ttf') format('truetype');
    font-weight: 800;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../assets/fonts/Montserrat/Montserrat-Black.ttf') format('truetype');
    font-weight: 900;
}

// Flex

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-center-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

// Table
.table-wrapper {
    width: 100%;
    height: 100%;
    margin-top: 40px;
}

.table-label {
    width: 100%;
    justify-content: center;
    background-color: $colorGrey7;
    padding: 10px;

    .table-label__value {
        font-weight: 600;
        font-size: 16px;
        line-height: auto;
        color: $colorDark2;
    }
}

.table-body {
    width: 100%;
    justify-content: center;
    background-color: $colorWhite;
    padding: 10px;
    gap: 10px;

    .table-body__value {
        font-weight: 500;
        font-size: 14px;
        line-height: auto;
        color: $colorDark2;
    }

    .table-body__button {
        width: 32px;
        height: 32px;
        appearance: none;
        outline: none;
        border: none;
        background-color: transparent;
        border-radius: 6px;
        cursor: pointer;
        transition: $transitionMedium;

        &:hover {
            opacity: 0.8;
            background-color: $colorGrey7;
        }

        span {
            font-size: 20px;
        }

        .button-delete {
            color: $colorRed;
        }

        .button-edit {
            color: $colorGrey3;
        }

        .button-remove {
            background-color: $colorRed;
            border-radius: 50%;
            color: $colorWhite;
        }

        .button-decline {
            padding: 6px;
            background-color: $colorRed;
            border-radius: 50%;
            color: $colorWhite;
        }

        .button-accept {
            padding: 6px;
            background-color: $colorPrimary3;
            border-radius: 50%;
            color: $colorWhite;
        }
    }
}

// Dialog
::ng-deep {
    .p-dialog .p-dialog-header {
        padding: 20px;
    }
}

.dialog-wrapper {
    width: 100%;
    padding: 0px 20px 20px 20px;
    gap: 12px;
    height: auto;

    .dialog-message {
        width: 100%;
        justify-content: center;

        .dialog-message__value {
            font-weight: 500;
            font-size: 12px;
            line-height: auto;
            color: $colorRed;
        }
    }
}

// Loader
.loader {
    position: absolute;
    top: 50vh;
    left: 50vw;
    transform: translate(-50vw, -50vh);
    margin-left: -20px;
    z-index: 999;
}