<section class="wrapper">
    <app-loader *ngIf="isDataLoading" class="loader"></app-loader>

    <app-navigation (navigationVisibility)="onNavigationOpenedChange($event)"></app-navigation>

    <div class="container" [style.marginLeft]="isNavigationOpened ? '320px' : '80px'">
        <div class="personal flex-column">
            <header class="header flex-row">
                <div class="header-title flex-row">
                    <p class="header-title__value">Личный кабинет</p>
                </div>

                <div class="header-controllers flex-row">

                </div>
            </header>

            <div class="information flex-row">
                <figure class="information-image flex-column">
                    <label class="information-image__label flex-column">
                        <div class="information-image__label__background" *ngIf="!selectedImageURL && !userData?.id_media" alt="Product Image"></div>
                        <img class="information-image__label__photo" *ngIf="userData?.id_media && !selectedImageURL" [src]="getURLForMediafile() + userData?.id_media" src="" alt="User Image">
                        <img class="information-image__label__photo" *ngIf="selectedImageURL" [src]="selectedImageURL ? selectedImageURL : '../../../../assets/images/photos/default_avatar.png'" alt="User Image">
                        <input class="information-image__label__input" type="file" accept="image/*" [disabled]="!isPersonalDataEditable" (change)="onImageChange($event)">
                        <span class="information-image__label__value">Сменить фото</span>
                    </label>        
                </figure>

                <address class="information-data flex-column">
                    <div class="information-data__title">
                        <p>Персональные данные:</p>
                    </div>

                    <div class="information-data__wrapper flex-row">
                        <div class="information-data__group flex-column">
                            <app-text-field [elementID]="'personal-surname'" [elementName]="'personal-surname'" [elementLabel]="'Фамилия'" [elementValue]="userData?.surname" [elementReadonly]="!isPersonalDataEditable" (elementValueChange)="userData!.surname = $event"></app-text-field>
    
                            <app-text-field [elementID]="'personal-name'" [elementName]="'personal-name'" [elementLabel]="'Имя'" [elementValue]="userData?.name" [elementReadonly]="!isPersonalDataEditable" (elementValueChange)="userData!.name = $event"></app-text-field>
    
                            <app-text-field [elementID]="'personal-patronymic'" [elementName]="'personal-patronymic'" [elementLabel]="'Отчество'" [elementValue]="userData?.patronymic" [elementReadonly]="!isPersonalDataEditable" (elementValueChange)="userData!.patronymic = $event"></app-text-field>
                        </div>
    
                        <div class="information-data__border">
    
                        </div>
    
                        <div class="information-data__group flex-column">
                            <app-text-field [elementID]="'personal-email'" [elementName]="'personal-email'" [elementLabel]="'Email'" [elementValue]="userData?.email" [elementReadonly]="!isPersonalDataEditable" (elementValueChange)="userData!.email = $event"></app-text-field>
    
                            <app-phone-field [elementID]="'personal-phone'" [elementName]="'personal-phone'" [elementLabel]="'Телефон'" [elementValue]="userData?.phone" [elementReadonly]="!isPersonalDataEditable" (elementValueChange)="userData!.phone = $event"></app-phone-field>
    
                            <app-password-field [elementID]="'personal-password'" [elementName]="'personal-password'" [elementLabel]="'Пароль'" [elementValue]="userData?.password" [elementReadonly]="!isPersonalDataEditable" (elementValueChange)="userData!.password = $event"></app-password-field>
                        </div>
                    </div>

                    <div class="information-data__controllers flex-row">
                        <div class="information-data__controllers__wrapper">
                            <app-button [elementID]="'button-edit'" [elementName]="'button-edit'" [elementLabel]="'Редактировать'" [elementDisable]="isPersonalDataEditable" (click)="togglePersonalDataEditable()"></app-button>
                        </div>

                        <div class="information-data__controllers__wrapper">
                            <app-button [elementID]="'button-save'" [elementName]="'button-save'" [elementLabel]="'Сохранить'" [elementDisable]="!isPersonalDataEditable" (click)="saveUserInformationHandler()"></app-button>
                        </div>
                    </div>
                </address>
            </div>

            <div *ngIf="userData?.role === '3'" class="subjects flex-column">
                <header class="subjects-header">
                    <p class="subjects-header__title">Предметы</p>
                </header>

                <div class="subjects-list flex-column">
                    <div class="subjects-item flex-column" *ngFor="let item of lecturerSubjects; index as i">
                        <div class="subject flex-row" (click)="redirectToSubjectPage(item.subject.id)">
                            <div class="subject-item__information flex-column">
                                <div class="subject-item__name">
                                    <p>{{ item.subject.name }}</p>
                                </div>
        
                                <div class="subject-item__code">
                                    <p>{{ item.subject.code }}</p>
                                </div>
                            </div>
    
                            <button type="button" class="subject-item__button flex-center-center">
                                <span class="material-icons" >chevron_right</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>