@import '@styles/global.scss';
@import '@styles/variables.scss';

.wrapper {
    width: 100%;
    min-height: 100vh;
    position: relative;
}

.container {
    width: auto;
    min-height: calc(100vh - 80px);
    height: 100%;
    margin-top: 80px;
    padding: 20px;
    background-color: $colorGrey7;
    transition: $transitionMedium;
}

.personal {
    width: 100%;
    min-height: calc(100vh - 80px - 40px);
    height: auto;
    padding: 20px;
    border-radius: 10px;
    background-color: $colorWhite;
}

.header {
    width: 100%;
    height: 60px;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid $inputBorder;
    gap: 16px;

    .header-title {
        width: auto;

        .header-title__value {
            font-weight: 600;
            font-size: 24px;
            line-height: auto;
            color: $colorDark2;
        }
    }

    .header-controllers {
        width: auto;
        height: 100%;
        gap: 10px;
        align-items: center;
    }
}

.information {
    width: 100%;
    height: auto;
    margin-top: 40px;
    gap: 50px;

    .information-image {
        width: 300px;
        gap: 16px;
        align-items: center;

        .information-image__label__background {
            width: 300px;
            height: 300px;
            border-radius: 16px;
            background: url('../../../../assets/images/photos/default_avatar.png');
            background-position: 50%;
            background-repeat: no-repeat;
            background-size: cover;
            object-fit: cover;
            background-color: $colorGrey7;
            overflow: hidden;
        }

        .information-image__label__photo {
            width: 300px;
            height: 300px;
            border-radius: 16px;
            background-position: 50%;
            background-repeat: no-repeat;
            background-size: cover;
            object-fit: cover;
            background-color: $colorGrey7;
            overflow: hidden;
        }

        .information-image__label {
            position: relative;
            align-items: center;
            gap: 16px;
            cursor: pointer;
            transition: $transitionMedium;

            &:hover {
                opacity: 0.85;
            }

            .information-image__label__input {
                position: absolute;
                z-index: -1;
                opacity: 0;
                display: block;
                width: 0;
                height: 0;
            }

            .information-image__label__value {
                font-weight: 600;
                font-size: 14px;
                line-height: 24px;
                color: $colorGrey2;
                text-align: center;
                text-decoration: underline;
            }
        }
    }

    .information-data {
        width: calc(100% - 300px - 50px);
        height: 100%;
        font-style: normal;

        .information-data__title {
            p {
                font-weight: 600;
                font-size: 14px;
                line-height: 20px;
                color: $colorDark2;
            }
        }

        .information-data__wrapper {
            width: auto;
            margin-top: 20px;
        }

        .information-data__group {
            width: 300px;
            height: auto;
            gap: 20px;
        }

        .information-data__border {
            width: 1px;
            height: auto;
            background-color: $inputBorder;
            margin: 0px 20px;
        }

        .information-data__controllers {
            width: 100%;
            margin-top: 40px;
            gap: 20px;

            .information-data__controllers__wrapper {
                width: 200px;
            }
        }
    }
}

.subjects {
    width: 100%;
    height: auto;
    margin-top: 40px;

    .subjects-header {
        width: 100%;
        height: 40px;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid $inputBorder;
        gap: 16px;

        .subjects-header__title {
            font-weight: 600;
            font-size: 18px;
            line-height: auto;
            color: $colorDark2;
        }
    }

    .subjects-list {
        width: 100%;
        height: auto;
        margin-top: 20px;
        gap: 16px;

        .subjects-item {
            width: 100%;
            height: auto;

            .subject {
                width: 100%;
                height: 64px;
                border-radius: 10px;
                background-color: transparent;
                justify-content: space-between;
                padding: 10px 16px;
                gap: 20px;
                cursor: pointer;
                transition: $transitionMedium;

                &:hover {
                    background-color: $colorGrey7;

                    .subject-item__button span {
                        transform: translateY(4px);
                    }
                }

                .subject-item__information {
                    width: auto;
                    height: 100%;
                    justify-content: space-between;
                    gap: 10px;

                    .subject-item__name {
                        font-weight: 600;
                        font-size: 16px;
                        line-height: auto;
                        color: $colorDark2;
                    }

                    .subject-item__code {
                        font-weight: 400;
                        font-size: 12px;
                        line-height: auto;
                        color: $colorGrey3;
                    }
                }

                .subject-item__button {
                    width: 44px;
                    height: 100%;
                    appearance: none;
                    outline: none;
                    border: none;
                    background-color: transparent;
                    cursor: pointer;
                    transition: $transitionMedium;

                    &:hover {
                        background-color: $colorGrey7;
                    }

                    span {
                        color: $colorDark2;
                        transition: $transitionMedium;
                    }
                }
            }

            .subject-themes {
                width: 100%;
                height: auto;
                background-color: transparent;
                padding: 10px 16px;
                gap: 16px;
                transition: $transitionMedium;

                .theme-item {
                    width: 100%;
                    height: auto;

                    .theme {
                        width: 100%;
                        height: auto;
                        border-radius: 10px;
                        background-color: transparent;
                        justify-content: space-between;
                        padding: 10px 16px;
                        gap: 10px;
                        cursor: pointer;
                        transition: $transitionMedium;

                        &:hover {
                            background-color: $colorGrey7;
                        }

                        .theme-item__information {
                            width: auto;
                            height: 100%;
                            justify-content: space-between;
                            gap: 10px;

                            .theme-item__name {
                                font-weight: 600;
                                font-size: 14px;
                                line-height: auto;
                                color: $colorDark2;
                            }

                            .theme-item__number {
                                font-weight: 400;
                                font-size: 12px;
                                line-height: auto;
                                color: $colorGrey3;
                            }
                        }

                        .theme-item__button {
                            width: 32px;
                            height: 32px;
                            appearance: none;
                            outline: none;
                            border: none;
                            background-color: transparent;
                            cursor: pointer;
                            transition: $transitionMedium;

                            &:hover {
                                background-color: $colorGrey7;
                            }

                            span {
                                color: $colorDark2;
                                transition: $transitionMedium;
                            }
                        }
                    }
                }

                .subject-theme__wrapper {
                    width: 100%;

                    .subject-theme__add {
                        width: 300px;
                    }
                }
            }
        }
    }
}