<section class="wrapper">
    <app-navigation (navigationVisibility)="onNavigationOpenedChange($event)"></app-navigation>

    <div class="container" [style.marginLeft]="isNavigationOpened ? '320px' : '80px'">
        <div class="subjects flex-column">
            <header class="header flex-row">
                <div class="header-title flex-row">
                    <p class="header-title__value">Предметы</p>
                </div>

                <div class="header-controllers flex-row">
                    <app-button [elementID]="'button-create'" [elementName]="'button-create'" [elementLabel]="'Добавить предмет'" [elementDisable]="false" (click)="toggleAddingSubjectDialogVisible()"></app-button>
                </div>
            </header>

            <div class="table-wrapper flex-column">
                <p-table [columns]="tableColumns" [value]="groupsMocks" styleClass="p-datatable-gridlines" [scrollable]="true" [resizableColumns]="true" [scrollHeight]="tableScrollHeight.toString() + 'px'">
                    <ng-template pTemplate="header" let-columns>
                        <tr>
                            <th *ngFor="let col of columns" pResizableColumn [style.width]="'22.5%'">
                                <div class="table-label">
                                    <p class="table-label__value">{{ col.label }}</p>
                                </div>
                            </th>
    
                            <th pResizableColumn [style.width]="'10%'">
                                <div class="table-label">
                                    <p class="table-label__value">Действие</p>
                                </div>
                            </th>
                        </tr>
                    </ng-template>
    
                    <ng-template pTemplate="body" let-subject>
                        <tr>
                            <td *ngFor="let column of tableColumns">
                                <div class="table-body">
                                    <p class="table-body__value">{{ subject[column.field] ?? '—' }}</p>
                                </div>
                            </td>
    
                            <td>
                                <div class="table-body flex-row">
                                    <button type="button" class="table-body__button flex-center-center" (click)="toggleEditingSubjectDialogVisible()">
                                        <span class="material-icons button-edit">edit</span>
                                    </button>
    
                                    <button type="button" class="table-body__button flex-center-center" (click)="toggleConfirmDialogVisible()">
                                        <span class="material-icons button-delete">delete</span>
                                    </button>
                                </div>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>
    </div>
</section>

<!-- Добавление предмета -->
<p-dialog [header]="'Добавление предмета'" [(visible)]="isAddingSubjectDialogVisible" [modal]="true" [style]="{ width: '400px' }" [draggable]="false" [resizable]="false">
    
</p-dialog>

<!-- Редактирование предмета -->

<p-dialog [header]="'Редактирование предмета'" [(visible)]="isEditingSubjectDialogVisible" [modal]="true" [style]="{ width: '400px' }" [draggable]="false" [resizable]="false">
    
</p-dialog>

<app-confirm-dialog [visibleController]="isConfirmDialogVisible" (next)="handleConfirmDialogNext()" (cancel)="handleConfirmDialogCancel()" ></app-confirm-dialog>