<section class="wrapper flex-row">
    <app-loader *ngIf="isDataLoading" class="loader"></app-loader>

    <nav class="navigation flex-column" [style.width]="isNavigationOpened ? '320px' : '80px'">
        <div class="navigation-group flex-column">
            <header class="navigation-header flex-row">
                <p class="navigation-header__title" [style.width]="isNavigationOpened ? '100%' : '0px'">Дневникадо</p>
            </header>
    
            <div class="navigation-items flex-column">
                <button class="navigation-item flex-row" *ngFor="let item of menuItems" [routerLink]="item.path">
                    <span class="material-icons navigation-item__icon flex-center-center">{{ item.icon }}</span>
    
                    <p class="navigation-item__value" *ngIf="isNavigationOpened">{{ item.label }}</p>
                </button>
            </div>
        </div>
    
        <div class="navigation-footer flex-row">
            <div class="navigation-account flex-row" *ngIf="isNavigationOpened">
                <div class="navigation-account__image">
                    <img *ngIf="userData?.id_media" [src]="getURLForMediafile() + userData?.id_media" alt="Profile photo">
                </div>
    
                <div class="navigation-account__personal flex-column">
                    <p class="navigation-account__personal__name" [title]="(userData?.surname ?? '') + ' ' + (userData?.name ?? '') + ' ' + (userData?.patronymic ?? '')">{{ (userData?.surname ?? '') + ' ' + (userData?.name ?? '') + ' ' + (userData?.patronymic ?? '') }}</p>
                    <p class="navigation-account__personal__role">{{ userRole }}</p>
                </div>
            </div>
    
            <div class="navigation-exit">
                <button type="button" class="navigation-exit__button flex-center-center" (click)="logout()">
                    <span class="material-icons">logout</span>
                </button>
            </div>
        </div>
    </nav>
    
    <header class="header flex-row" [style.width]="isNavigationOpened ? 'calc(100% - 320px)' : '100%'" [style.marginLeft]="isNavigationOpened ? '320px' : '0px'">
        <button type="button" class="header-button flex-center-center" (click)="toggleMenuVisibility()">
            <span class="material-icons">menu</span>
        </button>
    
        <p class="header-title">Дневникадо</p>
    
        <div class="header-account flex-row">
            <div class="header-account__image">
                <img *ngIf="userData?.id_media" [src]="getURLForMediafile() + userData?.id_media" alt="Profile photo">
            </div>
    
            <div class="header-account__personal flex-column">
                <p class="header-account__personal__name" [title]="(userData?.surname ?? '') + ' ' + (userData?.name ?? '') + ' ' + (userData?.patronymic ?? '')">{{ (userData?.surname ?? '') + ' ' + (userData?.name ?? '') + ' ' + (userData?.patronymic ?? '') }}</p>
            </div>
            
            <button type="button" class="header-account__button flex-center-center" (click)="toggleProfileListVisibility()">
                <span class="material-icons header-account__button__icon" [style.transform]="isProfileListOpened ? 'rotate(180deg)' : 'rotate(0deg)'">expand_more</span>
            </button>
        </div>

        <div class="header-dropdown flex-column" [style.display]="isProfileListOpened ? 'flex' : 'none'">
            <button type="button" class="header-dropdown__item flex-row flex-center-center" (click)="logout()">
                <span class="material-icons">logout</span><p class="header-dropdown__item__text">Выход</p>
            </button>
        </div>
    </header>
</section>