@import '@styles/global.scss';
@import '@styles/variables.scss';

.wrapper {
    width: 100%;
    min-height: 100vh;
}

.container {
    width: auto;
    min-height: calc(100vh - 80px);
    height: 100%;
    margin-top: 80px;
    padding: 20px;
    background-color: $colorGrey7;
    transition: $transitionMedium;
}

.subject {
    width: 100%;
    min-height: calc(100vh - 80px - 40px);
    height: auto;
    padding: 20px;
    border-radius: 10px;
    background-color: $colorWhite;
    overflow: hidden;
}

.header {
    width: 100%;
    height: 60px;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid $inputBorder;
    gap: 16px;

    .header-title {
        width: auto;

        .header-title__value {
            font-weight: 600;
            font-size: 24px;
            line-height: auto;
            color: $colorDark2;
        }
    }

    .header-controllers {
        width: auto;
        height: 100%;
        gap: 10px;
        align-items: center;
    }
}

.topic-list {
    width: 100%;
    height: auto;
    margin-top: 20px;
    gap: 16px;

    .topic-item {
        width: 100%;
        height: auto;

        .topic {
            width: 100%;
            height: 64px;
            border-radius: 10px;
            background-color: transparent;
            justify-content: space-between;
            padding: 10px 16px;
            gap: 20px;
            cursor: pointer;
            transition: $transitionMedium;

            &:hover {
                background-color: $colorGrey7;

                .topic-item__button span {
                    transform: translateY(4px);
                }
            }

            .topic-item__information {
                width: calc(100% - 64px);
                height: 100%;
                justify-content: space-between;
                gap: 10px;
                overflow: hidden;

                .topic-item__name {
                    font-weight: 600;
                    font-size: 16px;
                    line-height: auto;
                    color: $colorDark2;
                }

                .topic-item__description {
                    font-weight: 400;
                    font-size: 12px;
                    line-height: auto;
                    color: $colorGrey3;
                    text-wrap: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                }
            }

            .topic-item__button {
                width: 44px;
                height: 100%;
                appearance: none;
                outline: none;
                border: none;
                background-color: transparent;
                cursor: pointer;
                transition: $transitionMedium;

                &:hover {
                    background-color: $colorGrey7;
                }

                span {
                    color: $colorDark2;
                    transition: $transitionMedium;
                }
            }
        }

        .topic-content {
            width: 100%;
            height: auto;
            gap: 20px;
            margin-top: 20px;
        }

        .topic-controllers {
            width: 100%;
            justify-content: center;
            gap: 20px;

            .topic-controllers__wrapper {
                width: 200px;
            }
        }
    }
}

.task-list {
    width: 100%;
    height: auto;
    gap: 16px;

    .task-item {
        width: 100%;
        height: auto;
        padding: 0px 20px;

        .task {
            width: 100%;
            height: 64px;
            border-radius: 10px;
            background-color: transparent;
            justify-content: space-between;
            padding: 10px 16px;
            gap: 20px;
            cursor: pointer;
            transition: $transitionMedium;

            &:hover {
                background-color: $colorGrey7;

                .task-item__button span {
                    transform: translateY(4px);
                }
            }

            .task-item__point {
                width: 20px;
                height: 100%;
                align-items: center;

                p {
                    font-weight: 600;
                    font-size: 20px;
                    line-height: auto;
                    color: $colorDark2;
                }
            }

            .task-item__information {
                width: calc(100% - 84px);
                height: 100%;
                justify-content: space-between;
                gap: 10px;
                overflow: hidden;

                .task-item__name {
                    font-weight: 600;
                    font-size: 14px;
                    line-height: auto;
                    color: $colorDark2;
                }

                .task-item__description {
                    font-weight: 400;
                    font-size: 10px;
                    line-height: auto;
                    color: $colorGrey3;
                    text-wrap: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                }
            }

            .task-item__button {
                width: 44px;
                height: 100%;
                appearance: none;
                outline: none;
                border: none;
                background-color: transparent;
                cursor: pointer;
                transition: $transitionMedium;

                &:hover {
                    background-color: $colorGrey7;
                }

                span {
                    color: $colorDark2;
                    transition: $transitionMedium;
                }
            }
        }

        .task-content {
            width: 100%;
            height: auto;
            gap: 20px;
            margin-top: 20px;
        }

        .task-controllers {
            width: 100%;
            justify-content: center;
            gap: 20px;

            .task-controllers__wrapper {
                min-width: 150px;

                &::ng-deep button {
                    height: 36px;
                    
                    span {
                        font-size: 12px;
                    }
                }
            }

            .task-controllers__wrapper__link {
                width: 150px;
                height: 36px;
                appearance: none;
                outline: none;
                border: none;
                border-radius: 10px;
                background-color: $colorPrimary3;
                cursor: pointer;
                transition: $transitionMedium;

                &:hover {
                    border-radius: 14px;
                }

                a {
                    font-weight: 600;
                    font-size: 12px;
                    line-height: auto;
                    color: $colorWhite;
                    text-align: center;
                    text-decoration: underline;
                }
            }
        }
    }
}

.input-file {
    position: relative;
    display: inline-block;
    width: 100%;
}

.input-file input[type="file"] {
    position: absolute;
    z-index: -1;
    opacity: 0;
    width: 0;
    height: 0;
}

.button-file {
    width: 100%;
    height: 45px;
    appearance: none;
    outline: none;
    border: none;
    border-radius: 10px;
    padding: 0px 10px;
    background-color: $colorPrimary3;
    cursor: pointer;
    transition: $transitionMedium;
    display: inline-block;
    text-align: center;

    &:hover {
        border-radius: 12px;
        opacity: 0.9;
    }

    &:disabled {
        cursor: default;
        border-radius: 10px;
        background-color: $inputBackgroundDisabled;
    }

    &:active,
    &:focus {
        border-radius: 14px;
    }

    span {
        font-weight: 600;
        font-size: 14px;
        line-height: auto;
        color: $colorWhite;
        text-align: center;
        display: block;
        line-height: 45px;
    }
}

.input-file input[type="file"]:focus + span {
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}