<section class="wrapper">
    <app-loader *ngIf="isDataLoading" class="loader"></app-loader>

    <app-navigation (navigationVisibility)="onNavigationOpenedChange($event)"></app-navigation>

    <div class="container" [style.marginLeft]="isNavigationOpened ? '320px' : '80px'">
        <div class="subject flex-column">
            <header class="header flex-row">
                <div class="header-title flex-row">
                    <p class="header-title__value">Предметы — {{ subjectInformationData?.name }}</p>
                </div>

                <div class="header-controllers flex-row" *ngIf="userData?.role !== '4'">
                    <app-button [elementID]="'add-topic'" [elementName]="'add-topic'" [elementLabel]="'Добавить тему'" [elementDisable]="isDataLoading" (click)="toggleAddingTopicDialogVisible()"></app-button>
                </div>
            </header>

            <div class="topic-list flex-column">
                <div class="topic-item flex-column" *ngFor="let item of avaliableTopics; index as i">
                    <div class="topic flex-row" (click)="toggleTopicVisible(i, item.id)">
                        <div class="topic-item__information flex-column">
                            <div class="topic-item__name">
                                <p>{{ item.name }}</p>
                            </div>
    
                            <div class="topic-item__description">
                                <p>{{ item.description }}</p>
                            </div>
                        </div>

                        <button type="button" class="topic-item__button flex-center-center">
                            <span class="material-icons" [style.transform]="isTopicFlagsVisible[i] ? 'rotate(180deg)' : 'rotate(0deg)'">expand_more</span>
                        </button>
                    </div>

                    <div class="topic-content flex-column" [@expandCollapse]="isTopicFlagsVisible[i] ? 'expanded' : 'collapsed'">
                        <div class="topic-controllers flex-row" *ngIf="userData?.role !== '4'">
                            <div class="topic-controllers__wrapper">
                                <app-button [elementID]="'attendance'" [elementName]="'attendance'" [elementLabel]="'Посещаемость'" [elementDisable]="isDataLoading" (click)="toggleSelectGroupForAttendanceDialogVisible(item.id!)"></app-button>
                            </div>

                            <div class="topic-controllers__wrapper">
                                <app-button [elementID]="'add-task'" [elementName]="'add-task'" [elementLabel]="'Добавить задание'" [elementDisable]="isDataLoading" (click)="toggleAddingTaskDialogVisible(item.id)"></app-button>
                            </div>

                            <div class="topic-controllers__wrapper">
                                <app-button [elementID]="'edit-topic'" [elementName]="'edit-topic'" [elementLabel]="'Редактировать тему'" [elementDisable]="isDataLoading" (click)="toggleEditingTopicDialogVisible(item.id, item)"></app-button>
                            </div>
    
                            <div class="topic-controllers__wrapper">
                                <app-button [elementID]="'delete-topic'" [elementName]="'delete-topic'" [elementLabel]="'Удалить тему'" [elementDisable]="isDataLoading" (click)="toggleConfirmDialogVisible(item.id, 'topic')"></app-button>
                            </div>
                        </div>

                        <div class="task-list flex-column">
                            <div class="task-item flex-column" *ngFor="let task of avaliableTasks; index as i">
                                <div class="task flex-row" (click)="toggleTaskVisible(i)">
                                    <div class="task-item__point flex-row">
                                        <p>—</p>
                                    </div>

                                    <div class="task-item__information flex-column">
                                        <div class="task-item__name">
                                            <p>{{ task.name }}</p>
                                        </div>
                                    </div>
            
                                    <button type="button" class="task-item__button flex-center-center">
                                        <span class="material-icons" [style.transform]="isTaskFlagsVisible[i] ? 'rotate(180deg)' : 'rotate(0deg)'">expand_more</span>
                                    </button>
                                </div>

                                <div class="task-content flex-column" [style.height]="isTaskFlagsVisible[i] ? '100%' : '0px'" [style.opacity]="isTaskFlagsVisible[i] ? '1' : '0'">
                                    <div class="task-information flex-column">
                                        <div class="task-information__wrapper">
                                            <app-textarea [elementID]="'task-description'" [elementName]="'task-description'" [elementLabel]="'Описание'" [(elementValue)]="task.description" [elementReadonly]="true" [elementRows]="8"></app-textarea>
                                        </div>

                                        <div class="task-information__wrapper flex-row">
                                            <div *ngIf="task.mediaID" class="task-information__link flex-center-center">
                                                <a [href]="getURLForMediafile() + task.mediaID" target="_blank">Прикрепленный файл</a>

                                                <span class="material-icons" (click)="unpinTaskFile(task)">close</span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="task-controllers flex-row">
                                        <div class="task-controllers__wrapper" *ngIf="userData?.role !== '4'">
                                            <app-button [elementID]="'ratings'" [elementName]="'ratings'" [elementLabel]="'Оценки'" [elementDisable]="isDataLoading" (click)="toggleSelectGroupDialogVisible(task.id)"></app-button>
                                        </div>

                                        <div class="task-controllers__wrapper" *ngIf="userData?.role !== '4'">
                                            <app-button [elementID]="'edit-task'" [elementName]="'edit-task'" [elementLabel]="'Редактировать задание'" [elementDisable]="isDataLoading" (click)="toggleEditingTaskDialogVisible(task.id, task)"></app-button>
                                        </div>
                
                                        <div class="task-controllers__wrapper" *ngIf="userData?.role !== '4'">
                                            <app-button [elementID]="'delete-task'" [elementName]="'delete-task'" [elementLabel]="'Удалить задание'" [elementDisable]="isDataLoading" (click)="toggleConfirmDialogVisible(task.id, 'task')"></app-button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Добавление темы -->
<p-dialog [header]="'Добавление темы'" [(visible)]="isAddingTopicDialogVisible" [modal]="true" [style]="{ width: '400px' }" [draggable]="false" [resizable]="false">
    <div class="dialog-wrapper flex-column">

        <app-text-field [elementID]="'dialog-name'" [elementName]="'dialog-name'" [elementLabel]="'Наименование'" [(elementValue)]="dialogAddTopicName" [elementDisable]="isDataLoading"></app-text-field>

        <app-text-field [elementID]="'dialog-description'" [elementName]="'dialog-description'" [elementLabel]="'Описание'" [(elementValue)]="dialogAddTopicDescription" [elementDisable]="isDataLoading"></app-text-field>
        
        <div class="dialog-message flex-row">
            <span class="dialog-message__value">{{ dialogAddErrorMessage }}</span>
        </div>

        <app-button [elementID]="'button-add'" [elementName]="'button-add'" [elementLabel]="'Добавить'" [elementDisable]="isDataLoading" (click)="createTopic()"></app-button>
    </div>
</p-dialog>

<!-- Добавление задания -->
<p-dialog [header]="'Добавление задания'" [(visible)]="isAddingTaskDialogVisible" [modal]="true" [style]="{ width: '400px' }" [draggable]="false" [resizable]="false">
    <div class="dialog-wrapper flex-column">

        <app-text-field [elementID]="'dialog-name'" [elementName]="'dialog-name'" [elementLabel]="'Наименование'" [(elementValue)]="dialogAddTaskName" [elementDisable]="isDataLoading"></app-text-field>

        <app-textarea [elementID]="'dialog-description'" [elementName]="'dialog-description'" [elementLabel]="'Описание'" [elementRows]="8" [(elementValue)]="dialogAddTaskDescription" [elementDisable]="isDataLoading"></app-textarea>

        <label class="input-file button-file">
            <input type="file" name="file" (change)="onInputChange($event)">
            <span>{{ selectedFileName || 'Выберите файл' }}</span>
        </label>

        <div class="dialog-message flex-row">
            <span class="dialog-message__value">{{ dialogAddTaskErrorMessage }}</span>
        </div>

        <app-button [elementID]="'button-add'" [elementName]="'button-add'" [elementLabel]="'Добавить'" [elementDisable]="isDataLoading" (click)="createTaskHandler()"></app-button>
    </div>
</p-dialog>

<!-- Обновление темы -->
<p-dialog [header]="'Редактирование темы'" [(visible)]="isEditingTopicDialogVisible" [modal]="true" [style]="{ width: '400px' }" [draggable]="false" [resizable]="false">
    <div class="dialog-wrapper flex-column">

        <app-text-field [elementID]="'dialog-name'" [elementName]="'dialog-name'" [elementLabel]="'Наименование'" [(elementValue)]="dialogEditTopicName" [elementDisable]="isDataLoading"></app-text-field>

        <app-text-field [elementID]="'dialog-description'" [elementName]="'dialog-description'" [elementLabel]="'Описание'" [(elementValue)]="dialogEditTopicDescription" [elementDisable]="isDataLoading"></app-text-field>
        
        <div class="dialog-message flex-row">
            <span class="dialog-message__value">{{ dialogEditErrorMessage }}</span>
        </div>

        <app-button [elementID]="'button-update'" [elementName]="'button-update'" [elementLabel]="'Обновить'" [elementDisable]="isDataLoading" (click)="updateTopic()"></app-button>
    </div>
</p-dialog>

<!-- Обновление задания -->
<p-dialog [header]="'Редактирование задания'" [(visible)]="isEditingTaskDialogVisible" [modal]="true" [style]="{ width: '400px' }" [draggable]="false" [resizable]="false">
    <div class="dialog-wrapper flex-column">

        <app-text-field [elementID]="'dialog-name'" [elementName]="'dialog-name'" [elementLabel]="'Наименование'" [(elementValue)]="dialogEditTaskName" [elementDisable]="isDataLoading"></app-text-field>

        <app-textarea [elementID]="'dialog-description'" [elementName]="'dialog-description'" [elementLabel]="'Описание'" [elementRows]="8" [(elementValue)]="dialogEditTaskDescription" [elementDisable]="isDataLoading"></app-textarea>
        
        <label class="input-file button-file">
            <input type="file" name="file" (change)="onInputChange($event)">
            <span>{{ selectedFileName || 'Выберите файл' }}</span>
        </label>

        <div class="dialog-message flex-row">
            <span class="dialog-message__value">{{ dialogEditTaskErrorMessage }}</span>
        </div>

        <app-button [elementID]="'button-update'" [elementName]="'button-update'" [elementLabel]="'Обновить'" [elementDisable]="isDataLoading" (click)="updateTaskHandler()"></app-button>
    </div>
</p-dialog>

<!-- Выбор группы -->
<p-dialog [header]="'Выбор группы'" [(visible)]="isSelectedGroupDialogVisible" [modal]="true" [style]="{ width: '400px' }" [draggable]="false" [resizable]="false">
    <div class="dialog-wrapper flex-column">
        <app-dropdown [elementID]="'group'" [elementName]="'group'" [elementLabel]="'Выберите группу'" [(elementValue)]="selectedGroup" [options]="avaliableGroups ?? []" [elementDisable]="isDataLoading" [optionsLabel]="'nameShortly'" [optionsValue]="'nameShortly'" [clearOption]="true"></app-dropdown>

        <div class="dialog-message flex-row">
            <span class="dialog-message__value">{{ selectedGroupDialogError }}</span>
        </div>

        <app-button [elementID]="'button-select'" [elementName]="'button-select'" [elementLabel]="'Выбрать'" [elementDisable]="isDataLoading" (click)="navigateToRatingsDialog()"></app-button>
    </div>
</p-dialog>

<!-- Выбор группы для выставления оценок -->
<p-dialog [header]="'Выбор группы'" [(visible)]="isSelectedGroupForAttendanceDialogVisible" [modal]="true" [style]="{ width: '400px' }" [draggable]="false" [resizable]="false">
    <div class="dialog-wrapper flex-column">
        <app-dropdown [elementID]="'group'" [elementName]="'group'" [elementLabel]="'Выберите группу'" [(elementValue)]="selectedGroupForAttendance" [options]="avaliableGroups ?? []" [elementDisable]="isDataLoading" [optionsLabel]="'nameShortly'" [optionsValue]="'nameShortly'" [clearOption]="true"></app-dropdown>

        <div class="dialog-message flex-row">
            <span class="dialog-message__value">{{ selectedGroupForAttendanceDialogError }}</span>
        </div>

        <app-button [elementID]="'button-select'" [elementName]="'button-select'" [elementLabel]="'Выбрать'" [elementDisable]="isDataLoading" (click)="navigateToAttendanceDialog()"></app-button>
    </div>
</p-dialog>

<!-- Выставление оценок -->
<p-dialog [header]="'Оценки за задание'" [(visible)]="isRatingsDialogVisible" [modal]="true" [style]="{ width: '600px' }" [draggable]="false" [resizable]="false">
    <div class="dialog-wrapper flex-column">
        <div class="ratings-list flex-column">
            <div class="ratings-item flex-row" *ngFor="let student of marksByGroupAndTasksData">
                <div class="ratings-item__student">
                    <app-text-field *ngIf="student" [elementID]="'ratings-student'" [elementName]="'ratings-student'" [elementPlaceholder]="'Студент'" [(elementValue)]="student.studentFIO" [elementDisable]="!isMarksByGroupAndTasksEditable"></app-text-field>
                </div>

                <div class="ratings-item__rate">
                    <app-number-field *ngIf="student" [elementID]="'ratings-mark'" [elementName]="'ratings-mark'" [elementPlaceholder]="'Оценка'" [maxValue]="5" [minValue]="1" [(elementValue)]="student.mark" [elementDisable]="!isMarksByGroupAndTasksEditable"></app-number-field>
                </div>

                <div *ngIf="student.mediaID" class="ratings-item__media flex-center-center">
                    <a [href]="getURLForMediafile() + student.mediaID" target="_blank">Прикрепленный файл</a>
                </div>
            </div>
        </div>

        <div class="dialog-message flex-row">
            <span class="dialog-message__value">{{ ratingsErrorMessage }}</span>
        </div>

        <div class="ratings-controllers flex-row">
            <div class="ratings-controllers__wrapper">
                <app-button [elementID]="'button-edit'" [elementName]="'button-edit'" [elementLabel]="'Редактировать'" [elementDisable]="isMarksByGroupAndTasksEditable" (click)="toggleMarksByGroupAndTaskEditable()"></app-button>
            </div>

            <div class="ratings-controllers__wrapper">
                <app-button [elementID]="'button-save'" [elementName]="'button-save'" [elementLabel]="'Сохранить'" [elementDisable]="!isMarksByGroupAndTasksEditable" (click)="saveMarksByGroupAndTaskHandler()"></app-button>
            </div>
        </div>
    </div>
</p-dialog>

<!-- Выставление посещаемости -->
<p-dialog [header]="'Выставление посещаемости'" [(visible)]="isAttendanceDialogVisible" [modal]="true" [style]="{ width: '400px' }" [draggable]="false" [resizable]="false">
    <div class="dialog-wrapper flex-column">
        <div class="attendance-list flex-column">
            <div class="attendance-item flex-row" *ngFor="let student of attendanceByGroupAndTopicData">
                <div class="attendance-item__student">
                    <app-text-field *ngIf="student" [elementID]="'attendance-student'" [elementName]="'attendance-student'" [elementPlaceholder]="'Студент'" [(elementValue)]="student.studentFIO" [elementDisable]="!isAttendanceByGroupAndTopicEditable"></app-text-field>
                </div>

                <div class="ratings-attendance__value">
                    <app-dropdown *ngIf="student" [elementID]="'attendance-value'" [elementName]="'attendance-value'" [elementPlaceholder]="'Посещаемость'" [(elementValue)]="student.value" [options]="attendanceOptions" [elementDisable]="!isAttendanceByGroupAndTopicEditable" [clearOption]="false" [filter]="false"></app-dropdown>
                </div>
            </div>
        </div>

        <div class="dialog-message flex-row">
            <span class="dialog-message__value">{{ attendanceErrorMessage }}</span>
        </div>

        <div class="attendance-controllers flex-row">
            <div class="attendance-controllers__wrapper">
                <app-button [elementID]="'button-edit'" [elementName]="'button-edit'" [elementLabel]="'Редактировать'" [elementDisable]="isAttendanceByGroupAndTopicEditable" (click)="toggleAttendanceByGroupAndTopicEditable()"></app-button>
            </div>

            <div class="attendance-controllers__wrapper">
                <app-button [elementID]="'button-save'" [elementName]="'button-save'" [elementLabel]="'Сохранить'" [elementDisable]="!isAttendanceByGroupAndTopicEditable" (click)="saveAttendanceByGroupAndTopicHandler()"></app-button>
            </div>
        </div>
    </div>
</p-dialog>

<!-- Окно подтверждения -->
<app-confirm-dialog [visibleController]="isConfirmDialogVisible" (next)="handleConfirmDialogNext()" (cancel)="handleConfirmDialogCancel()" ></app-confirm-dialog>